trigger:
  branches:
    include:
      - main

pool:
  name: Default  # self-hosted agent

variables:
  TF_VERSION: "1.14.1"
  BACKEND_RG: "storage-ac1"
  BACKEND_STORAGE: "testterraformaccount123"
  BACKEND_CONTAINER: "container"
  SERVICE_CONNECTION: "test-sc"

# ----------------------------------------------------------
# DEV ENVIRONMENT
# ----------------------------------------------------------
stages:
- stage: DEV
  displayName: "DEV Deployment"

  jobs:
  - job: DevJob
    displayName: "Deploy Dev"
    steps:

    # Install Terraform
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(TF_VERSION)

    # Install TFLint
    - script: |
        curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
      displayName: "Install TFLint"

    # Terraform Init
    - task: TerraformCLI@3
      displayName: "Terraform Init - DEV"
      inputs:
        command: 'init'
        workingDirectory: 'projects/environments/dev'
        backendType: 'azurerm'
        ensureBackend: true
        backendServiceArm: $(SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RG)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE)
        backendAzureRmContainerName: $(BACKEND_CONTAINER)
        backendAzureRmKey: 'dev.tfstate'

    # Terraform Format
    - task: TerraformCLI@3
      displayName: "Terraform FMT - DEV"
      inputs:
        command: 'fmt'
        workingDirectory: 'projects/environments/dev'
        additionalArguments: '-check -diff'

    # Terraform Validate
    - task: TerraformCLI@3
      displayName: "Terraform VALIDATE - DEV"
      inputs:
        command: 'validate'
        workingDirectory: 'projects/environments/dev'

    # TFLint Analysis
    - script: |
        tflint --init
        tflint
      workingDirectory: 'projects/environments/dev'
      displayName: "TFLint Analysis - DEV"

    # Terraform Plan
    - task: TerraformCLI@3
      displayName: "Terraform Plan - DEV"
      inputs:
        command: 'plan'
        workingDirectory: 'projects/environments/dev'
        additionalArguments: '-var-file=dev.tfvars'

    # Terraform Apply
    - task: TerraformCLI@3
      displayName: "Terraform Apply - DEV"
      inputs:
        command: 'apply'
        workingDirectory: 'projects/environments/dev'
        additionalArguments: '-var-file=dev.tfvars -auto-approve'
        azureServiceConnection: $(SERVICE_CONNECTION)

# ----------------------------------------------------------
# STAGING (QA)
# ----------------------------------------------------------
- stage: STAGING
  dependsOn: DEV
  displayName: "QA Deployment"

  jobs:
  - job: QaJob
    displayName: "Deploy QA"
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(TF_VERSION)

    - script: |
        curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
      displayName: "Install TFLint"

    - task: TerraformCLI@3
      displayName: "Terraform Init - STAGING"
      inputs:
        command: 'init'
        workingDirectory: 'projects/environments/staging'
        backendType: 'azurerm'
        ensureBackend: true
        backendServiceArm: $(SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RG)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE)
        backendAzureRmContainerName: $(BACKEND_CONTAINER)
        backendAzureRmKey: 'staging.tfstate'

    - task: TerraformCLI@3
      displayName: "Terraform FMT - STAGING"
      inputs:
        command: 'fmt'
        workingDirectory: 'projects/environments/staging'
        additionalArguments: '-check -diff'

    - task: TerraformCLI@3
      displayName: "Terraform VALIDATE - STAGING"
      inputs:
        command: 'validate'
        workingDirectory: 'projects/environments/staging'

    - script: |
        tflint --init
        tflint
      workingDirectory: 'projects/environments/staging'
      displayName: "TFLint Analysis - STAGING"

    - task: TerraformCLI@3
      displayName: "Terraform Plan - STAGING"
      inputs:
        command: 'plan'
        workingDirectory: 'projects/environments/staging'
        additionalArguments: '-var-file=staging.tfvars'

    - task: TerraformCLI@3
      displayName: "Terraform Apply - STAGING"
      inputs:
        command: 'apply'
        workingDirectory: 'projects/environments/staging'
        additionalArguments: '-var-file=staging.tfvars -auto-approve'
        azureServiceConnection: $(SERVICE_CONNECTION)

# ----------------------------------------------------------
# PROD
# ----------------------------------------------------------
- stage: PROD
  dependsOn: STAGING
  displayName: "PROD Deployment"

  jobs:
  - job: ProdJob
    displayName: "Deploy Prod"
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(TF_VERSION)

    - script: |
        curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
      displayName: "Install TFLint"

    - task: TerraformCLI@3
      displayName: "Terraform Init - PROD"
      inputs:
        command: 'init'
        workingDirectory: 'projects/environments/production'
        backendType: 'azurerm'
        ensureBackend: true
        backendServiceArm: $(SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RG)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE)
        backendAzureRmContainerName: $(BACKEND_CONTAINER)
        backendAzureRmKey: 'prod.tfstate'

    - task: TerraformCLI@3
      displayName: "Terraform FMT - PROD"
      inputs:
        command: 'fmt'
        workingDirectory: 'projects/environments/production'
        additionalArguments: '-check -diff'

    - task: TerraformCLI@3
      displayName: "Terraform VALIDATE - PROD"
      inputs:
        command: 'validate'
        workingDirectory: 'projects/environments/production'

    - script: |
        tflint --init
        tflint
      workingDirectory: 'projects/environments/production'
      displayName: "TFLint Analysis - PROD"

    - task: TerraformCLI@3
      displayName: "Terraform Plan - PROD"
      inputs:
        command: 'plan'
        workingDirectory: 'projects/environments/production'
        additionalArguments: '-var-file=prod.tfvars'

    - task: TerraformCLI@3
      displayName: "Terraform Apply - PROD"
      inputs:
        command: 'apply'
        workingDirectory: 'projects/environments/production'
        additionalArguments: '-var-file=prod.tfvars -auto-approve'
        azureServiceConnection: $(SERVICE_CONNECTION)
