trigger:
  branches:
    include:
      - main

pool:
  name: Default   # Self-hosted agent

variables:
  SERVICE_CONNECTION: "test-sc"
  BACKEND_RG: "storage-ac1"
  BACKEND_STORAGE: "testterraformaccount123"
  BACKEND_CONTAINER: "terraform"
  BACKEND_KEY: "dev.tfstate"
  WORK_DIR: "$(System.DefaultWorkingDirectory)/projects/environments/dev"

stages:
- stage: DEV
  displayName: "DEV Deployment"

  jobs:
  - job: TerraformJob
    displayName: "Terraform Deployment Job"

    steps:

      # ---------------------- Terraform INIT ----------------------
      - task: TerraformTaskV4@4
        displayName: "Terraform Init"
        inputs:
          provider: azurerm
          command: init
          backendServiceArm: $(SERVICE_CONNECTION)
          backendAzureRmResourceGroupName: $(BACKEND_RG)
          backendAzureRmStorageAccountName: $(BACKEND_STORAGE)
          backendAzureRmContainerName: $(BACKEND_CONTAINER)
          backendAzureRmKey: $(BACKEND_KEY)
          workingDirectory: $(WORK_DIR)

      # ---------------------- Terraform VALIDATE ----------------------
      - task: TerraformTaskV4@4
        displayName: "Terraform Validate"
        inputs:
          provider: azurerm
          command: validate
          workingDirectory: $(WORK_DIR)

      # ---------------------- Terraform PLAN ----------------------
      - task: TerraformTaskV4@4
        displayName: "Terraform Plan"
        inputs:
          provider: azurerm
          command: plan
          environmentServiceNameAzureRM: $(SERVICE_CONNECTION)
          workingDirectory: $(WORK_DIR)

      # ---------------------- Terraform APPLY ----------------------
      - task: TerraformTaskV4@4
        displayName: "Terraform Apply"
        inputs:
          provider: azurerm
          command: apply
          environmentServiceNameAzureRM: $(SERVICE_CONNECTION)
          workingDirectory: $(WORK_DIR)
