trigger:
  branches:
    include:
      - main

pool:
  name: Default  # self-hosted agent

variables:
  TF_VERSION: "1.14.1"
  BACKEND_RG: "storage-ac1"
  BACKEND_STORAGE: "testterraformaccount123"
  BACKEND_CONTAINER: "container"
  SERVICE_CONNECTION: "test-sc"

stages:
- stage: DEV
  displayName: "DEV Deployment"

  jobs:
  - job: DevJob
    displayName: "Deploy Dev"

    steps:

    # Install Terraform into Agent.ToolsDirectory
    - task: TerraformInstaller@1
      displayName: "Install Terraform"
      inputs:
        terraformVersion: $(TF_VERSION)

    # Check Terraform installed
    - script: |
        echo "Terraform path:"
        which terraform
        terraform version
      displayName: "Check Terraform version"

    # Terraform Init
    - task: TerraformTask@5
      displayName: "Terraform Init - DEV"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: 'projects/environments/dev'
        backendServiceArm: $(SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RG)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE)
        backendAzureRmContainerName: $(BACKEND_CONTAINER)
        backendAzureRmKey: 'dev.tfstate'
