trigger:
  branches:
    include:
      - main

pool:
  name: Default  # self-hosted agent

variables:
  TF_VERSION: "1.14.1"
  BACKEND_RG: "storage-ac1"
  BACKEND_STORAGE: "testterraformaccount123"
  BACKEND_CONTAINER: "container"
  SERVICE_CONNECTION: "test-sc"

stages:
- stage: DEV
  displayName: "DEV Deployment"

  jobs:
  - job: DevJob
    displayName: "Deploy Dev"

    steps:

    # Ensure Terraform path is available to the TerraformTask@5
    - script: |
        echo "##vso[task.setvariable variable=PATH]$PATH:/usr/local/bin"
        terraform version
      displayName: "Set PATH & Check Terraform version"

    # Terraform init
    - task: TerraformTask@5
      displayName: "Terraform Init - DEV"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: 'projects/environments/dev'
        backendType: 'azurerm'
        backendServiceArm: $(SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RG)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE)
        backendAzureRmContainerName: $(BACKEND_CONTAINER)
        backendAzureRmKey: 'dev.tfstate'
