trigger:
  branches:
    include:
      - main

pool:
  name: Default  # self-hosted agent

variables:
  TF_VERSION: "1.14.1"
  BACKEND_RG: "storage-ac1"
  BACKEND_STORAGE: "testterraformaccount123"
  BACKEND_CONTAINER: "container"
  SERVICE_CONNECTION: "test-sc"
- stage: DEV
  displayName: "DEV Deployment"

  jobs:
  - job: DevJob
    displayName: "Deploy Dev"
    steps:

    # Install Terraform binary
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: $(TF_VERSION)

    # Terraform init using TerraformTask v5
    - task: TerraformTask@5
      displayName: "Terraform Init - DEV"
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: 'projects/environments/dev'
        backendType: 'azurerm'
        backendServiceArm: $(SERVICE_CONNECTION)
        backendAzureRmResourceGroupName: $(BACKEND_RG)
        backendAzureRmStorageAccountName: $(BACKEND_STORAGE)
        backendAzureRmContainerName: $(BACKEND_CONTAINER)
        backendAzureRmKey: 'dev.tfstate'
